
h3{
	margin-top:100px;
}

#heading{

	margin-bottom: -5px;
	margin-top: 0px;
}

.form-group{
	margin-bottom: 10px;
	text-align: left;
}

.content{
	text-align: center;
	margin-left: 500px;
	width:45%;
}
 
body{
text-align: center;
font-size: 20px;
}

input[type=submit]{

	background-color: lightgreen;
	width: 75px;
	height: 30px;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom:80px;


}

input[type=button]{
	background-color: lightblue;
	margin-right: 190px;
	height: 40px;
	width: 240px;
	margin-left: 195px;
	font-size: 20px;
	margin-top: 120px;


}


label{
	width:140px;
}

#cancel{
  font: bold 15px Arial;
  font-size: 15px;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  	width: 90px;
	height: 40px;
	font-size: 15px;
	margin-top:-200px;
	margin-right: 310px;

}
